@import '../variables';

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.pageHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;

  .title {
    text-align: center;
  }
}
